/* ===================
   Scaffold
   ==================*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  padding: 0 0 0 200px;
  background-color: #f7f7f7; }

/* ===================
   Nav
   ==================*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }

nav a {
  padding: 0 0 15px 0;
  color: #333;
  text-decoration: none; }

nav a:hover,
nav a:active,
nav a:visited {
  color: #000; }
