/* ===================
   Nav
   ==================*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: $nav-width;
	margin: 0;
	padding: $base-padding;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $nav-background-color;
}