/* ===================
   Nav
   ==================*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: $nav-width;
	margin: 0;
	padding: $base-padding;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $nav-background-color;
}
nav a {
	margin-bottom: 7px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover,
nav a:active,
nav a:visited {
	color: #000;
}
nav a:last-child {
	margin-bottom: 0;
}
.home-item {
	margin-bottom: auto;
}
.social-item {
	margin-top: auto;
}