/* ===================
   Scaffold
   ==================*/
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	padding: 0 0 0 $nav-width;
	background-color: #f7f7f7;
}
.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: $base-padding;
	overflow-y: hidden;
	overflow-x: scroll;
}
header {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #444;
	background-size: cover;
	background-position: center center;
}
.single header {
	position: fixed;
	top: $base-padding;
	right: $base-padding;
	bottom: $base-padding;
	left: $base-padding;
	z-index: 1000;
}
article {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	column-count: 2;
}