/* ===================
   Scaffold
   ==================*/
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	padding: 0 0 0 $nav-width;
	background-color: #f7f7f7;
}
.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: $base-padding;
}
.frame {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.slidee, .slidee li {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.slidee li {
	background-color: #444;
	padding: $base-padding;
}
header {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #444;
	background-size: cover;
	background-position: center center;
}
article {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	column-count: 2;
}