/* ===================
   Typography
   ==================*/

 header h1 a {
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-weight: 400;
 }

 button {
 	background-color: transparent;
 	border: 0;
 }